<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ff1ca53bbd1693153740b16bd8ad4490 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_ff1ca53bbd1693153740b16bd8ad4490" ></div>
        
</body>
<script>
    
    
            var map_ff1ca53bbd1693153740b16bd8ad4490 = L.map(
                "map_ff1ca53bbd1693153740b16bd8ad4490",
                {
                    center: [20.7180924, 70.98579029999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_600ae44dbe0d4bc00e5d7ba7ea57d0a3 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_600ae44dbe0d4bc00e5d7ba7ea57d0a3.addTo(map_ff1ca53bbd1693153740b16bd8ad4490);
        
    
            var marker_b3a11b1a9e33513da9ba1433e4697dfa = L.marker(
                [20.7180924, 70.98579029999999],
                {}
            ).addTo(map_ff1ca53bbd1693153740b16bd8ad4490);
        
    
            marker_b3a11b1a9e33513da9ba1433e4697dfa.bindTooltip(
                `<div>
                     Start
                 </div>`,
                {"permanent": true, "sticky": true}
            );
        
    
            var poly_line_5eeb024ba93c1e9b70ddd7d353157f79 = L.polyline(
                [[20.916667, 71.516667], [20.2641, 71.9928], [20.0, 72.0779], [19.0, 72.4], [15.3, 73.0], [12.4, 74.3], [10.0, 75.1889], [9.7, 75.3], [8.0, 77.0], [5.8, 80.1], [5.9, 81.9], [6.1983, 85.9479], [6.4665, 90.0001], [6.4664, 90.0], [6.7, 94.0], [7.0, 97.0], [3.2, 100.6], [2.0, 102.0], [1.1, 103.6], [1.3413, 104.4823], [7.6091, 107.3207], [10.0, 108.7681], [12.2, 110.1], [14.058324, 108.277199]],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "Orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_ff1ca53bbd1693153740b16bd8ad4490);
        
    
            poly_line_5eeb024ba93c1e9b70ddd7d353157f79.bindTooltip(
                `<div>
                     ('KM :', 6621)
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_16be7570ebbdf36f606af0eac1594916 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"https://carto.com/attributions\"\u003eCARTO\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abcd", "tms": false}
            );
        
    
            tile_layer_16be7570ebbdf36f606af0eac1594916.addTo(map_ff1ca53bbd1693153740b16bd8ad4490);
        
</script>
</html>